@page
@model FoodOrderSystem_J103042.Pages.Menu.IndexModel

@{
    ViewData["Title"] = "Menu";
}

<h2 class="text-center">Myanmar Specialties</h2>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FoodItems) 
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                    {
                    <img src="~/images/@item.ImageUrl" asp-append-version="true" alt="@item.Item_Name" width="100" />

                    }
                    else
                    {
                        <span>No Image</span>
                    }
                </td>
                <td>@item.Item_Name</td>
                <td>@item.Item_Desc</td>
                <td>£@item.Price</td>
               
            </tr>
        }
    </tbody>
</table>
